aiohappyeyeballs==2.6.1
aiohttp==3.13.0
aiosignal==1.4.0
alpaca-py==0.42.2
alpaca-trade-api==3.2.0
annotated-types==0.7.0
attrs==25.4.0
certifi==2025.10.5
charset-normalizer==3.4.3
colorama==0.4.6
deprecation==2.1.0
dnspython==2.8.0
frozenlist==1.8.0
idna==3.10
loguru==0.7.3
msgpack==1.0.3
multidict==6.7.0
numpy==2.3.3
packaging==25.0
pandas==2.3.3
propcache==0.4.0
pydantic==2.11.10
pydantic_core==2.33.2
pymongo==4.15.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.1
requests==2.32.5
six==1.17.0
sseclient-py==1.8.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==1.26.20
websocket-client==1.8.0
websockets==10.4
win32_setctime==1.2.0
yarl==1.22.0
